{% extends "flights/flights_base.html" %}
{% load forms_tags %}

{% block title %}Szczegóły lotu {{ flight_pk }}{% endblock %}

{% block body %}
    {{ block.super }}

    {% block navbar %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearchBar"
            aria-controls="navbarSearchBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSearchBar">
            <a href="/" class="text-secondary float-left my-auto mx-1">Wróć</a>
            <div class="mx-auto order-0"></div>
        </div>
    {% endblock %}

    <section id="flight-details" class="my-2">
        <div class="container">
            <div class="text-center">
                <h1 class="display-3">Lot nr {{ flight_pk }}</h1>
            </div>
            <dl class="row justify-content-center mx-auto my-3">
                <dt class="col-sm-4 text-right">Wylot</dt>
                <dd class="col-sm-8">
                    <ul class="list-unstyled">
                        <li>
                            {{ flight.takeoff_airport }}
                            <small class="text-muted">{{ flight.takeoff_airport.icao }}</small>
                        </li>
                        <li class="font-weight-light text-secondary">{{ flight.takeoff_date }}</li>
                    </ul>
                </dd>

                <dt class="col-sm-4 text-right">Przylot</dt>
                <dd class="col-sm-8">
                    <ul class="list-unstyled">
                        <li>
                            {{ flight.landing_airport }}
                            <small class="text-muted">{{ flight.landing_airport.icao }}</small>
                        </li>
                        <li class="font-weight-light text-secondary">{{ flight.landing_date }}</li>
                    </ul>
                </dd>

                <dt class="col-sm-4 text-right">Samolot</dt>
                <dd class="col-sm-8">
                    <dl class="row">
                        <dt class="col-sm-2">Rejestracja</dt>
                        <dd class="col-sm-10">{{ airplane.registration }}</dd>

                        <dt class="col-sm-2">Model</dt>
                        <dd class="col-sm-10">
                            <ul class="list-inline">
                                <li class="list-inline-item">{{ airplane.model.name }}</li>
                                <li class="list-inline-item text-muted">{{ airplane.model.seats }} miejsc</li>
                            </ul>
                        </dd>
                    </dl>
                </dd>
            </dl>
        </div>
    </section>
    <section id="passenger-list" class="my-2">
        <div class="container">
            <div class="text-center">
                <h4>Lista pasażerów</h4>
            </div>
            {% if passengers_and_tickets %}
                <table class="table table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Imię</th>
                        <th scope="col">Nazwisko</th>
                        <th scope="col">Zakupione bilety</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in passengers_and_tickets %}
                        <tr>
                            <td>{{ booking.passenger.first_name }}</td>
                            <td>{{ booking.passenger.surname }}</td>
                            <td>{{ booking.tickets_count }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"></td>
                        <td class="font-weight-bold text-secondary">{{ all_tickets_count }}
                            / {{ airplane.model.seats }}</td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <div class="text-center">Brak pasażerów</div>
            {% endif %}
        </div>
    </section>
    {% if user.is_authenticated %}
        <section id="add-new-passenger" class="my-2">
            <div class="container">
                <div class="text-center">
                    <h4>Dodaj nowego pasażera</h4>
                </div>
                <form method="post" novalidate>
                    {% csrf_token %}

                    {% if passenger_form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in passenger_form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="form-row">
                        {% for field in passenger_form.visible_fields %}
                            <div class="col-md-4 md-3">
                                {{ field.label_tag }}
                                {% if passenger_form.is_bound %}
                                    {% if field.errors %}
                                        <input type="{{ field|field_type }}" class="form-control is-invalid"
                                               id="{{ field.id_for_label }}" name="{{ field.name }}"
                                       {% if field.value %} value="{{ field.value }}" {% endif %}>
                                        {% for error in field.errors %}
                                            <div class="invalid-tooltip">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <input type="{{ field|field_type }}" class="form-control is-valid"
                                               id="{{ field.id_for_label }}" name="{{ field.name }}"
                                       {% if field.value %} value="{{ field.value }}" {% endif %}>
                                    {% endif %}
                                {% else %}
                                    <input type="{{ field|field_type }}" class="form-control"
                                           id="{{ field.id_for_label }}" name="{{ field.name }}"
                                       {% if field.value %} value="{{ field.value }}" {% endif %}>
                                {% endif %}

                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary float-right my-1">Dodaj</button>
                </form>
            </div>
        </section>
    {% elif anonymous_add_attempt %}
        <section id="add-new-passenger" class="my-2">
            <div class="container">
                <div class="alert alert-danger" role="alert">
                    <div class="container">
                        <div class="row">
                            <div class="col-10">Nie możesz dodać nowego pasażera - nie jesteś zalogowany!</div>
                            <div class="col-2">
                                <a href="/accounts/login/" class="btn btn-sm btn-outline-danger float-right"
                                   role="button">
                                    Zaloguj się
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}