{% extends "flights/flights_base.html" %}
{% load paginator %}
{% load static %}

{% block own_css %}
    <link rel="stylesheet" href="{% static 'css/flights_list.css' %}">
{% endblock %}

{% block body %}
    {{ block.super }}

    {% block navbar %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearchBar"
            aria-controls="navbarSearchBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSearchBar">
            <form class="form-inline mt-2 mt-md-0" method="get">
                    <div class="form-group mx-2">
                        <span class="font-weight-bold navbar-brand mb-0 h1">Wylot</span>
                    </div>
                    <div class="form-group mx-2">
                        <label class="control-label" for="from">Od:</label>
                        <input class="form-control mx-1" id="from" name="from" type="date">
                    </div>
                    <div class="form-group mx-2">
                        <label class="control-label" for="to">Do:</label>
                        <input class="form-control mx-1" id="to" name="to" type="date">
                    </div>
                    <button class="btn btn-outline-success float-right mx-2" type="submit">Szukaj</button>
                </form>
        </div>
    {% endblock %}

    <section id="title" class="mb-5">
        <div class="container">
            <div class="text-center">
                <h1 class="display-5">Loty</h1>
            </div>
        </div>
    </section>

    <section id="flights-list" class="my-2">
        <div class="container" id="accordion">
            {% for flight in flights %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                {{ flight.takeoff_date|date:'d E Y' }}
                            </div>
                            <div class="col font-weight-bold">
                                {{ flight.takeoff_date|date:'H:i' }} – {{ flight.landing_date|date:'H:i' }}
                            </div>
                            <div class="col">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">{{ flight.takeoff_date|timesince:flight.landing_date }}</div>
                                        <div class="col-12 font-weight-light text-muted">
                                            <small>{{ flight.takeoff_airport.icao }} – {{ flight.landing_airport.icao }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xl-1">
                                <button type="button" class="button_toggleable btn btn-sm btn-light" aria-expanded="false"
                                        data-toggle="collapse" data-target="#flight-{{ flight.pk }}">
                                    <i class="fa fa-angle-down fa-2x"></i><i class="fa fa-angle-up fa-2x"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="flight-{{ flight.pk }}" class="collapse" data-parent="#accordion">
                        <div class="card-body container">
                            <div class="row">
                                <div class="col-md-10">
                                    <dl class="row">
                                        <dt class="col-md-2 col-lg-2">Wylot:</dt>
                                        <dd class="col-md-4 col-lg-3">{{ flight.takeoff_date|date:'D, d b Y H:i' }}</dd>
                                        <dd class="col-md-6 col-lg-7">{{ flight.takeoff_airport }}</dd>
                                        <dt class="col-md-2 col-lg-2">Przylot:</dt>
                                        <dd class="col-md-4 col-lg-3">{{ flight.landing_date|date:'D, d b Y H:i' }}</dd>
                                        <dd class="col-md-6 col-lg-7">{{ flight.landing_airport }}</dd>
                                    </dl>
                                </div>
                                <div class="col-md-2">
                                    <a href="/details/{{ flight.pk }}" role="button"
                                       class="btn btn-sm btn-primary float-right">Szczegóły lotu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    {% if flights.has_other_pages %}
        <section id="flights-pagination" class="my-2">
            <ul class="pagination justify-content-center">
                {% if flights.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{% url_replace page=flights.previous_page_number %}">Poprzednia</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">Poprzednia</a></li>
                {% endif %}
                {% for i in flights.number|page_range:flights.paginator.num_pages %}
                    {% if flights.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?{% url_replace page=i %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if flights.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{% url_replace page=flights.next_page_number %}">Następna</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">Następna</a></li>
                {% endif %}
            </ul>
        </section>
    {% endif %}
{% endblock %}