{% extends "base.html" %}

{% block body %}
    <nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
        {% block navbar %}
            <div class="mx-auto order-0"></div>
        {% endblock %}
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <span class="navbar-text">Witaj,
                    {% if user.first_name %}
                        {{ user.first_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </span>
                <li class="nav-item"><a class="nav-link active" href="/accounts/logout/">Wyloguj się</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link active" href="/accounts/login/">Zaloguj się</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}