{% load staticfiles %}
{% load filter_math %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wybory Prezydenta Rzeczypospolitej Polskiej 2000</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn+SC">
</head>
<body>
    <div id="page">
        <div id="top">
            <div class="centered-text"><h1>Wybory Prezydenta Rzeczypospolitej Polskiej 2000</h1></div>
            <div class="centered-text"><h3>{{ nazwa_tytulowa_jednostki }}</h3></div>
        </div>
    <div id="directory-path">
        <nav>
            <ul class="nav-main-menu">
                <li class="nav-item" style="font-weight: bold">JESTEŚ TUTAJ:</li>
                {% for href, nazwa in jednostki %}
                    <li class="nav-item"><a class="nav-link" href="{{ href }}">{{ nazwa }}</a></li>
                {% endfor %}
            <li class="nav-item">{{ jednostka_menu }}</li>
            </ul>
        </nav>
    </div>
        <div id="page-content">
            <div id="results-people-content">
                <div class="section-heading"><h2>Wyniki kandydatów w {{ miejscownik }}</h2></div>
                <div id="results-people-tab" class="table">
                {% if wyniki %}
                    <table>
                        <tbody>
                        <tr class="header">
                            <td>Kandydat</td>
                            <td>Liczba głosów oddanych na kandydata</td>
                            <td>Liczba wszystkich ważnych głosów</td>
                            <td>Procentowa liczba głosów oddanych na kandydata</td>
                        </tr>
                        {% for kandydat, glosy in wyniki %}
                        <tr>
                            <td class="table-fst-col"><b>{{ kandydat }}</b></td>
                            <td class="table-col">{{ glosy }}</td>
                            <td class="table-col">{{ glosy_wazne }}</td>
                            <td class="table-col">{{ glosy|float_divide:glosy_wazne }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Brak danych - błąd</p>
                {% endif %}
                </div>
            </div>
            <div id="stats">
                <h2>Statystyka ogółem w {{ miejscownik }}</h2>
                <div id="stats-tab" class="table">
                {% if statystyka %}
                    <table>
                        <tbody>
                        {% for tytul, liczba in statystyka %}
                            <tr>
                                <td class="table-fst-col">{{ tytul }}</td>
                                <td class="table-col">{{ liczba }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p> Brak statystyki - błąd</p>
                {% endif %}
                </div>
            </div>
            {% if linki %}
            <div id="links" class="link-list">
                <h2>Wyniki w jednostkach</h2>
                <ul class="clear-list">
                    {% for href, nazwa in linki %}
                        <li><a href="{{ href }}">{{ nazwa }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>