{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
    <div style="margin: auto; width: 810px;">
        <a href="/"><img src="{% static 'Order_404.png' %}" alt="order_404" class="center" style="max-width: 100%"></a>
    </div>
</body>
</html>
