{% extends "base.html" %}
{% load forms_tags %}

{% block title %}Login{% endblock %}

{% block body %}
    <section id="login" class="my-3">
        <div class="container">
            <form method="post" novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% if form.is_bound %}
                            {% if field.errors %}
                                <input type="{{ field|field_type }}" class="form-control is-invalid"
                                       id="{{ field.id_for_label }}" name="{{ field.name }}"
                                       {% if field.value %} value="{{ field.value }}" {% endif %}>
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <input type="{{ field|field_type }}" class="form-control is-valid"
                                       id="{{ field.id_for_label }}" name="{{ field.name }}"
                                       {% if field.value %} value="{{ field.value }}" {% endif %}>
                            {% endif %}
                        {% else %}
                            <input type="{{ field|field_type }}" class="form-control"
                                   id="{{ field.id_for_label }}" name="{{ field.name }}"
                                       {% if field.value %} value="{{ field.value }}" {% endif %}>
                        {% endif %}

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <a href="/" role="button" class="btn btn-secondary float-right my-1 mx-1">Wróć</a>
                <button type="submit" class="btn btn-primary float-right my-1 mx-1">Zaloguj się</button>
            </form>
        </div>
    </section>
{% endblock %}