body {
    margin: 0;
    background: #E3E2DF;
    color: #2D231C;
    font-family: "Vollkorn", Helvetica, sans-serif;
}

ul.nav-main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CCCBC8;
}

li.nav-item {
    float: left;
    padding: 14px 16px;
    font-family: "Vollkorn SC", Helvetica, sans-serif;
}

li.nav-item a.nav-link {
    display: block;
    color: #2D231C;
    text-align: center;
    text-decoration: none;
}

li.nav-item a.nav-link:hover {
    color: #9A175D;
}

ul.clear-list {
    list-style-type: none;
}

ul.clear-list a {
    color: #2D231C;
    text-decoration: none;
}

ul.clear-list a:hover {
    color: #9A175D;
}

.link-list {
    margin: auto;
    width: 75%;
    position: relative;
    overflow: hidden;
}
.link-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.link-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin-top: .25em;
    margin-bottom: .25em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

#top {
    background-color: #2D231C;
    overflow: hidden;
}

.centered-text {
    width: 100%;
    margin: auto;
}

.section-heading {
    text-align: center;
    width: 100%;
}

h1 {
    text-align: center;
    color: #E40044;
    font-family: "Vollkorn SC", Helvetica, sans-serif;
}

h2 {
    color: #E40044;
    text-align: center;
    font-family: "Vollkorn SC", Helvetica, sans-serif;
}

h3 {
    color: #E3E2DF;
    text-align: center;
    font-family: "Vollkorn SC", Helvetica, sans-serif;
}