.table {
    width: 75%;
    margin: auto;
    overflow-x: auto;
}

.table table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.table tr.header {
    font-variant: small-caps;
}

.table tr:hover {
    background-color: whitesmoke;
}

.table-fst-col {
    text-align: left;
}

.table-col {
    text-align: right;
}